@import "tailwindcss";

@import './theme.css';
@import './anchor-positioning.css';

@import './animations.css';

.hide-scrollbar {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

.hide-scrollbar::-webkit-scrollbar {
        display: none;
    }


@layer components {
    @import './button.css';
    @import './input.css';
    @import './dropdown.css';
}
