@import "tailwindcss";

@import './theme.css';
@import './anchor-positioning.css';

@import './animations.css';

.hide-scrollbar {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

.hide-scrollbar::-webkit-scrollbar {
        display: none;
    }


@layer components {
    @import './accordion.css';
    @import './alert.css';
    @import './autocomplete.css';
    @import './avatar.css';
    @import './badge.css';
    @import './button.css';
    @import './calendar.css';
    @import './card.css';
    @import './datepicker.css';
    @import './dropdown.css';
    @import './form.css';
    @import './input.css';
    @import './modal.css';
    @import './popover.css';
    @import './rating.css';
    @import './select.css';
    @import './switch.css';
    @import './textarea.css';
    @import './timepicker.css';
}
