@layer components {
    .spire-tooltip__content {
        @apply px-2 py-1 text-xs font-medium;
        @apply bg-neutral-900 text-white border border-neutral-800;
        @apply rounded shadow-lg;
        @apply max-w-[250px] text-pretty;
        @apply pointer-events-none;
        @apply transition-[opacity,transform] duration-150 ease-out;
    }

    .dark .spire-tooltip__content {
        @apply bg-neutral-800 border-neutral-700;
    }
}
